body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 20px;
}

.details-container {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  color: #007bff;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #ddd;
}

p {
  margin-bottom: 5px;
}
